@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: var(--font-bricolage-grotesque);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-default: var(--font-bricolage-grotesque);

  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-default, serif); /* Fallback to serif if the font fails to load */
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust weight as needed */
  line-height: 1.6;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

